
.scammed {
    color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0, 0 2px 2px grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    display: inline-block;
    position: relative;
    margin: 0 300px 0 300px;
}
.scammed:hover {
    background-color: brown;
    transition: 0.3s;
}
.btn {
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    transition: 0.6s;
    width: 250px;
}
.btn:hover {
background-color: brown;
}
.btn:visited {
    background-color: brown;
}
.btn:focus {
background-color: brown;
}
.good-luck {
    background-color: chocolate;
    text-align: justify;
    max-width: 600px;
    margin-left: 300px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    display: none;
      transform: skewX(00.6s);
}
.good-luck:target {
    display: block;
  
}
a {
    text-decoration: none;
    color: white;
}
.form {
    align-self: center;
    text-align: left;
    display: inline-block;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
text-decoration: solid;

}
input {
background-color: transparent;
border: 5px;
outline-style: auto;
outline-offset: 1px;
height: 20px;
}
.in-text {
    width: 240px;
}